// @use "../10-functions/theme-accessor" as *;

.button {
  display: inline-block;
  margin-inline-start: auto;
  // padding: var(--button-padding, 0);
  background-color: var(--button-bg, transparent);
  color: var(--button-text, inherit);
  border: none;
  cursor: pointer;
  font-family: var(--button-font-family, inherit);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-extra-loose);
  line-height: var(--line-height-base);

  text-decoration-thickness: 0.25ex;
  text-decoration-color: var(--color-green);
  text-decoration-line: underline;
  text-underline-offset: 1.5ex;

  &:hover,
  &:focus-visible {
    color: var(--color-green);
  }

  // &[data-button="secondary"] {
  //   --button-bg: blue;
  //   --button-text: red;

  //   &:hover,
  //   &:focus-visible {
  //     --button-bg: yellow;
  //     --button-text: green;
  //   }
  // }
}
