@use "../20-mixins/media-query.scss" as *;

.project {
  --space-region: 0 var(--space-xl-3xl);
  --grid-item-size-min: 30rem;

  & > ul {
    --space-grid: var(--space-l-2xl) var(--space-gutter);
    margin-block-start: var(--space-gutter);
  }

  @include media-query(up-to, "widescreen") {
    --grid-item-size-min: clamp(22rem, 18.6667rem + 6.6667vi, 24rem);
  }
  @include media-query(up-to, "desktop") {
    --grid-item-size-min: clamp(12.5rem, 8.75rem + 12.5vi, 15rem);

    & > ul {
      --space-grid: var(--space-xl) var(--space-gutter);
      // --space-grid: 5rem;
    }
  }
  @include media-query(up-to, "tablet") {
    --grid-item-size-min: 30rem;
    --space-region: var(--space-2xl) var(--space-xl-3xl);
  }

  .project__item {
    text-transform: uppercase;
  }

  .project__item-image-container {
    position: relative;

    .project__item-image-links {
      --stack-vertical-alignment: center;
      --stack-horizontal-alignment: center;
      --space-stack: var(--space-xl);

      position: absolute;
      inset: 0;

      @include media-query(up-to, "desktop") {
        display: none;
      }

      a {
        z-index: -1;
      }

      &:hover,
      &:focus-visible,
      &:focus-within {
        display: flex;
        background-color: hsla(0, 0%, 8%, 0.8);

        & > a {
          z-index: 1;
        }
      }
    }
  }

  .project__item-text-links {
    display: none;

    @include media-query(up-to, "desktop") {
      --space-cluster: 1em;
      display: flex;
    }
  }

  .project__item-text {
    --space-cluster: 0em 1em;

    & > ul {
      --space-flow: 0.5em;
    }
  }
}
