@use "../20-mixins/media-query" as *;

.site-foot {
  --space-region: var(--space-l) var(--space-xl);
  background: var(--color-dark-grey);
  // line-height: var(--leading-flat);
  // padding-block: var(--space-m) 0; /* Horizontal padding is handled by wrapper */
  color: var(--color-white);

  @include media-query(up-to, "tablet") {
    --repel-direction: column;
  }
}
