@use "../20-mixins/media-query.scss" as *;

.skill {
  --grid-item-size-min: 20rem;
  position: relative;

  @include media-query(up-to, "widescreen") {
    --grid-item-size-min: clamp(14.5rem, 10rem + 9vi, 17.2rem);
  }
  @include media-query(up-to, "desktop") {
    --grid-item-size-min: clamp(12rem, 7.5rem + 15vi, 15rem);
  }
  @include media-query(up-to, "tablet") {
    --grid-item-size-min: 999rem;
    --space-grid: 2em;
    --space-flow: 0.75em;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: var(--space-gutter);
      inline-size: calc(100% - 2 * var(--space-gutter));
      border-block-end: var(--border);
      border-color: var(--color-white);
    }
  }

  .l-grid {
    --space-grid: var(--space-xl) var(--space-gutter);
  }

  .pattern-rings {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    transform: translateY(-25%) translateX(50%);
  }
}
