@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
